<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div>
  <h2>Tutorial</h2>
  <h3>Using Angular</h3>
  <p>
     Angular has three main components related to your app, after initialization these are all found within the src/app folder of your project.
     If the server is currently running your created app, any modifications to these files will be rendered instantly after saving the document.
  </p>
  <h4>
    Modify template
  </h4>
  <p>To modify the display of your page, you will need to access the "app.component.html". From here you can insert html tags to be 
    rendered by the browser. 
  </p>
  <h4>
    Display Variables
  </h4>
  <p>
    You can display variables defined inside "app.component.ts" directly inside the "app.component.html", by enclosing them inside of
    double curly braces.
  </p>
  <h4>
    Using directives
  </h4>
  <p>
    Angular gives the option to import directives such as ngModel. The statement to import is 'import {{'{'}} FormsModule {{'}'}} from "@angular/forms"'
    will import the ngModel directive, since the directive is defined in that module. The ngModel directive gives the ability to bind input data 
    to variables. An example of this is displayed below.
  </p>
  <input [(ngModel)]="example" placeholder="Kyle">
  <p> My name is {{example}} </p>
</div>